extends ../layout 

block content
 a(href="/bicicletas") Volver

 br
 br
 br

 h1 Nueva Bicicleta

 br
 br

 form(action="/bicicletas/create" method="post")
    label(for ="id") ID:
    Input#id(Type="text" name="id")
    br
    label(for ="color") Color:
    Input#color(Type="text" name="color")
    br
    label(for ="modelo") Modelo:
    Input#modelo(Type="text" name="modelo")
    br
    label(for ="lat") Latitud:
    Input#modelo(Type="text" name="lat")
    br
    label(for ="lng") Longitud:
    Input#modelo(Type="text" name="lng")
    br
    br
    input.btn(type="submit" value="OK")