extends ../layout 

block content
 a(href="/bicicletas") Volver

 br
 br
 br

 h1 Actualizar Bicicleta

 br
 br

 form(action=`/bicicletas/${bici.id}/update` method="post")
    label(for ="id") ID:
    Input#id(Type="text" name="id" value=bici.id)
    br
    label(for ="color") Color:
    Input#color(Type="text" name="color" value=bici.color)
    br
    label(for ="modelo") Modelo:
    Input#modelo(Type="text" name="modelo" value=bici.modelo)
    br
    label(for ="lat") Latitud:
    Input#modelo(Type="text" name="lat" value=bici.ubicacion[0])
    br
    label(for ="lng") Longitud:
    Input#modelo(Type="text" name="lng" value=bici.ubicacion[1])
    br
    br
    input.btn(type="submit" value="OK")